{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
         {% include 'header.html' %}
    </header>
    <main>
        {% include 'products_list.html' %}
    </main>
    <footer>
        <div class="container">
            <p>© 2025 SkyBooky. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>